[Desktop Entry]
Type=Application
Name=Pokémon TCG Live
Icon=io.github.PTCGLLinux
Comment=Unofficial Linux compatibility package for Pokémon TCG Live
Exec=ptcgl-linux app
Terminal=false
Categories=Game;
